<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head('Formulario de Equipo')}"></head>
<body>
<div class="container">
    <h1 class="mt-4" th:text="${equipmentDTO != null && equipmentDTO.id != null ? 'Editar Equipo' : 'Nuevo Equipo'}"></h1>
    <form th:action="@{/equipment}" th:object="${equipmentDTO}" method="post">

        <!-- Campo oculto para el ID -->
        <input type="hidden" th:field="*{id}" />

        <div class="form-group">
            <label for="code">Código</label>
            <input type="text" th:field="*{code}" class="form-control" id="code" required>
        </div>
        <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" th:field="*{name}" class="form-control" id="name" required>
        </div>
        <div class="form-group">
            <label for="serialNumber">Número de Serie</label>
            <input type="text" th:field="*{serialNumber}" class="form-control" id="serialNumber" required>
        </div>
        <div class="form-group">
            <label for="subcategories">Subcategorías</label>
            <select id="subcategories" th:field="*{subcategoryId}" class="form-control">
                <option th:value="''" th:text="'Seleccione una subcategoría'"></option>
                <option th:each="sub : ${subcategories}"
                        th:value="${sub.id}"
                        th:text="${sub.name}">
                </option>
            </select>
        </div>
        <div class="form-group">
            <label for="warehouses">Almacén</label>
            <select id="warehouses" th:field="*{warehouseId}" class="form-control">
                <option value="" th:text="'Seleccione un Almacén'"></option>
                <option th:each="war : ${warehouses}"
                        th:value="${war.id}"
                        th:text="${war.name}">
                </option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a href="/equipment" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
<div th:replace="~{fragments/layout :: footer}"></div>
</body>
</html>
