<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Almacenes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="mt-4">Lista de Almacenes</h1>
    <a href="/warehouse/new" class="btn btn-primary">Nuevo Equipo</a>
    <table class="table table-striped mt-3">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nonbre</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="warehouse : ${warehouse}">
            <td th:text="${warehouse.id}"></td>
            <td th:text="${warehouse.name}"></td>
        </tr>
        </tbody>
    </table>

    <!-- Botón para volver al menú principal -->
    <a href="/" class="btn btn-secondary mt-3">Volver al Menú Principal</a>
</div>
</body>
</html>
