<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Obras</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="mt-4">Lista de Obras</h1>
    <a href="/work/new" class="btn btn-primary">Nueva Obra</a>
    <table class="table table-striped mt-3">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nonbre</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="work : ${workList}">
            <td th:text="${work.id}"></td>
            <td th:text="${work.name}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
