<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:text="${title}">Título por defecto</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!--AGREGAR FUENTE PARA EL NAVBAR-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />

</head>
<body>

<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-custom">
        <a class="navbar-brand d-flex align-items-center" href="/">
            <img src="/images/logo.png" alt="Logo Elecnor">
            <span class="ml-2">Gestión</span>
        </a>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" th:classappend="${activePage == 'equipmentAssignment' ? 'active' : ''}">
                    <a class="nav-link" href="/equipmentAssignment">Asignación</a>
                </li>
                <li class="nav-item" th:classappend="${activePage == 'map' ? 'active' : ''}">
                    <a class="nav-link" href="/work/map">Mapa</a>
                </li>
                <li class="nav-item" th:classappend="${activePage == 'equipment' ? 'active' : ''}">
                    <a class="nav-link" href="/equipment">Equipos</a>
                </li>
                <li class="nav-item" th:classappend="${activePage == 'operator' ? 'active' : ''}">
                    <a class="nav-link" href="/operator">Operarios</a>
                </li>
                <li class="nav-item" th:classappend="${activePage == 'work' ? 'active' : ''}">
                    <a class="nav-link" href="/work">Obras</a>
                </li>
                <li class="nav-item" th:classappend="${activePage == 'warehouse' ? 'active' : ''}">
                    <a class="nav-link" href="/warehouse">Almacenes</a>
                </li>
            </ul>
        </div>
    </nav>

</div>

<div th:fragment="footer" class="footer-custom text-center mt-4 mb-4">
    <small>© 2025 Sistema de Gestión de Equipos</small>
</div>

<!-- Leaflet JS se puede cargar aquí o al final del body -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

</body>
</html>
