<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head('Nuevo Operario')}"></head>
<body>
<div class="container">
    <h1 class="mt-4">Formulario de Operario</h1>
    <form th:action="@{/operator}" th:object="${operator}" method="post">

        <!-- Campo oculto para el ID -->
        <input type="hidden" th:field="*{id}" />

        <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" th:field="*{name}" class="form-control" id="name" required>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
<div th:replace="~{fragments/layout :: footer}"></div>
</body>
</html>