<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/layout :: head('Operarios')}"></head>
<body>
<div th:replace="~{fragments/layout :: navbar}"></div>
<div class="container">
    <h1 class="mt-4">Lista de Operarios</h1>
    <a href="/operator/new" class="btn btn-primary">Nuevo Equipo</a>
    <table class="table table-striped mt-3">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="operator : ${operatorList}">
            <td th:text="${operator.id}"></td>
            <td th:text="${operator.name}"></td>
        </tr>
        </tbody>
    </table>

    <!-- Botón para volver al menú principal -->
    <a href="/" class="btn btn-secondary mt-3">Volver al Menú Principal</a>
</div>
<div th:replace="~{fragments/layout :: footer}"></div>
</body>
</html>
